@font-face {
  font-family: "RF Dewi";
  src: url("../fonts/RFDewi-Black.woff2") format("woff2"),
    url("../fonts/RFDewi-Black.woff") format("woff"),
    url("../fonts/RFDewi-Black.otf") format("opentype"),
    url("../fonts/RFDewi-Black.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.otf") format("otf");
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-image: url("../images/header_1920.png");
  background-color: #110000;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1920px;
  height: 100%;
  min-height: 677px;
}

.nav {
  display: flex;
  flex-direction: row;
  margin: 0 396px;
  justify-content: space-between;
  color: #ffffff;
  padding-top: 33px;
}

.nav__main-text {
  font-family: "RF Dewi", sans-serif;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0px;
}

.nav__sub-text {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0px;
}

.nav__logo {
  font-family: "RF Dewi", sans-serif;
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 0px;
  text-align: center;
}

.nav__subtitle {
  font-family: "RF Dewi", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0px;
  text-align: center;
}

.header__text {
  font-family: "RF Dewi", sans-serif;
  font-weight: 800;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
  white-space: wrap;
  line-height: 120%;
  margin-top: 133px;
}

.header__button {
  background-color: #f4df74;
  width: 265px;
  height: 64px;
  border-width: 0px;
  display: block;
  text-align: center;
  margin: 50px auto 0;
  border-radius: 10px;
  cursor: pointer;
}

.button__text {
  font-family: "RF Dewi", sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #353535;
  line-height: 120%;
}

.main {
  width: 1920px;
}

.main__block {
  margin: 120px auto 0;
  width: 1125px;
}

.section__title {
  font-family: "RF Dewi", sans-serif;
  font-size: 48px;
  font-weight: 800;
  color: #191919;
  text-align: center;
  line-height: 110%;
}

.section__subtitle {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #1a1a1a;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 680px;
  margin: 50px auto 0;
  line-height: 150%;
}

.section__content {
  width: 1125px;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  margin-top: 50px;
}

.product-card__img {
  width: 350px;
  height: 350px;
}

.product-title {
  font-family: "RF Dewi", sans-serif;
  font-weight: 400;
  display: flex;
}

.product-name {
  font-size: 24px;
  padding-top: 20px;
}

.product-price {
  font-family: "RF Dewi", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 0 0 15px;
}

.divider-section {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 1750px;
}

section {
  width: 1920px;
}

.collaboration-block {
  background-color: #eeeeee;
  width: 1920px;
  margin: 280px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 130px;
}

.collaboration-block__title {
  padding-top: 300px;
}

.product-card-small__img {
  height: 210px;
}

.collaboration-name {
  font-size: 20px;
  padding-top: 20px;
  min-width: 350px;
}

.collaboration-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 0 0 15px;
  line-height: 150%;
}

.collaboration__content {
  width: 1125px;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  margin-top: 50px;
  align-items: stretch; 
}

.collaboration-title {
  font-family: "RF Dewi", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column; 
  max-width: 350px;
  text-align: center;
}